body {
	text-align: center;
	overflow-x: hidden;
}

.container {
	max-width: 650px;
	padding: 1rem;
}

#game-image {
	height: 35vh;
}

#game-footer {
	max-width: 90%;
	margin: auto;
	padding-bottom: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
}

.progress-container {
	margin-top: 1rem;
}

.result-container {
	text-align: left;
	margin-top: 2rem;
}
